.main {
    height: auto;
}

.tabsContainer {
    margin: 0px 30px 0;
}

.tabContainer {
    width: auto;
    height: auto;
    margin: 20px 30px 0;
}

.foundationsContainer {
    display: flex;
    height: auto;
    width: auto;
    /* border: 1px solid white; */
    margin-left: 30px;
    /* margin-right: 30px; */
}

.foundation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: black;
    border-radius: 10px;
    /* height: 500px; */
}

.foundationInfo {
    margin: 20px 20px;
    display: flex;
    /* height: 100px; */
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
}

.foundationName {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imageWrap {
    /* height: 90px; */
    /* width: 90px; */
    display: flex;
    border-radius: 10px;
    /* border: 2px solid #0228EE; */
}

.foundationWallets {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    /* border: 1px solid white; */
    margin: 10px 20px 0;
}

.linkIcon {
    height: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    color: #A3A3A3;
    cursor: pointer;
}

.addresses {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.copyButton {
    /* background-color: blue; */
    /* border-radius: 100px; */
    color: #A3A3A3;
}

.copyButton:hover {
    color: white;
}

.copyButtonContainer {
    color: #A3A3A3;
    cursor: pointer;
}

.copyButtonContainer:hover {
    color: white;
}

.walletWrap {
    margin-bottom: 20px;
}

.myDonationsContainer {
    display: flex;
    height: auto;
    width: auto;
    /* border: 1px solid white; */
    margin: 0 30px 30px;
}

.tableContainer {
    width: 100%;
}

.statsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid white; */
}

.myDonationsData {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.createButton {
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background: #35b17f;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'DM Sans';
    transition: color 0.8s ease, background 0.8s ease;
}

.createButton:hover {
    color: black;
    background: #6CCC97;
}

.createDonationContainer {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    width: 30%;
    /* min-height: 45%; */
    height: auto;
    background-color: #1A1A1A;
    border-radius: 10px;
}

.inputsContainer {
    padding: 30px 20px 20px 20px;
    /* padding-bottom: 30px; */
    width: auto;
    height: auto;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    /* border: 1px solid red; */
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: auto;
    padding: 10px 20px 10px 20px;
    /* border: 1px white solid; */
}

.addDonationButton {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: #35b17f;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'DM Sans';
    transition: color 0.8s ease, background 0.8s ease;
}

.addDonationButton:hover {
    color: black;
    background: #6CCC97;
}

.cancelButton {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    /* background: #313337; */
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'DM Sans';
    transition: color 0.8s ease, background 0.8s ease;
}

.cancelButton:hover {
    color: #6CCC97;
    /* background: #6CCC97; */
}

.disabled{
    opacity: .5;
}

.inputsContainer input:-webkit-autofill,
.inputsContainer input:-webkit-autofill:hover,
.inputsContainer input:-webkit-autofill:focus,
.inputsContainer input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #313337 inset !important;
    -webkit-text-fill-color: #E8E9EB;
    font-family: 'DM Sans';;
}

.searchResult {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: auto;
    margin: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.searchResult:hover {
background-color: #024D41;
}

.searchImg {
    margin-left: 10px;
}