.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addKeysContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    width: 95%;
    height: auto;
    padding-bottom: 20px;
}

.titleText {
    text-align: center;
    color: #AEAEAE;
    padding: 10px;
    width: 100%;
}

.inputContainer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.textFieldTitle {
    color: #AEAEAE;
    padding-bottom: 5px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.addButton {
    text-align: center;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background: #35b17f;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'DM Sans';
    transition: color 0.8s ease, background 0.8s ease;
}

.addButton:hover {
    color: black;
    background: #6CCC97;
}