.coinStatsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width: auto;
    margin: 10px 30px 0;
    /* background-color: black; */
    border-radius: 5px;
    /* border: 2px solid #AEAEAE; */
}

.assetInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

