.createButton {
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background: #35b17f;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'DM Sans';
    transition: color 0.8s ease, background 0.8s ease;
}

.createButton:hover {
    color: black;
    background: #6CCC97;
}

.cancelButton {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    /* background: #313337; */
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'DM Sans';
    transition: color 0.8s ease, background 0.8s ease;
}

.cancelButton:hover {
    color: #6CCC97;
    /* background: #6CCC97; */
}

.createPortfolioContainer {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    width: 60%;
    /* min-height: 45%; */
    height: auto;
    background-color: #1A1A1A;
    border-radius: 10px;
}

.inputsContainer {
    padding: 30px 20px 20px 20px;
    /* padding-bottom: 30px; */
    width: auto;
    height: auto;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    /* border: 1px solid red; */
}

.buttonsContainer{
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: auto;
    padding: 10px 20px 10px 20px;
    /* border: 1px white solid; */
}

.createPortfolioButton {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: #35b17f;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'DM Sans';
    transition: color 0.8s ease, background 0.8s ease;
}

.createPortfolioButton:hover {
    color: black;
    background: #6CCC97;
}