.main {
    /* border: 1px solid white; */
}

.cryptoStatsContainer {
    display: flex;
    height: 200px;
    width: auto;
    /* border: 1px solid white; */
    
    margin: 0 30px;
}

.miniStat {
    /* border: 5px solid blue; */
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    /* height: 100%; */
    /* width: 400px; */
    background-color: black;
}